<p id="user"> User Details:</p>
<div class="container">
    <div class="centered-form">
      <form [formGroup]="myForm">
        <div class="form-group">
          <label for="firstName">First name<span>*</span></label>
          <input type="text" id="firstName" formControlName="firstName" style="margin-left: 33px;" required>
          <div *ngIf="myForm.get('firstName')?.dirty && myForm.get('firstName')?.touched" class="error-message">
            <span *ngIf="myForm.get('firstName')?.errors?.['required']">First Name is required.</span>
          </div>
        </div>
        <br>
        <div class="form-group">
          <label for="lastName">Last name<span>*</span></label>
          <input type="text" id="lastName" formControlName="lastName" style="margin-left: 35px;" required>
          <div *ngIf="myForm.get('lastName')?.dirty && myForm.get('lastName')?.touched" class="error-message">
            <span *ngIf="myForm.get('lastName')?.errors?.['required']">Last Name is required.</span>
          </div>
        </div>
        <br>
        <div>
          <label for="dob">Date of birth<span>*</span></label>
          <input type="date" id="dob" style="margin-left: 20px;width: 176px" formControlName="dob" required>
          <div *ngIf="myForm.get('dob')?.touched  && myForm.get('dob')?.dirty">
            <span *ngIf="myForm.get('dob')?.errors?.['required']" style="margin-left: 99px;">Date of Birth is required.</span>
            <span *ngIf="myForm.get('dob')?.errors?.['invalidAge']" style="margin-left: 99px;">Age must be at least 18.</span>
          </div>
        </div>
        <br>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text"  id="email" style="margin-left: 71px;" formControlName="email">
        </div>
        <br>
        <div class="form-group">
          <label for="phoneNumber">Mobile number<span>*</span></label>
          <input type="text" id="phoneNumber" formControlName="phoneNumber" required>
          <div *ngIf="myForm.get('phoneNumber')?.dirty && myForm.get('phoneNumber')?.touched" class="error-message">
            <span *ngIf="myForm.get('phoneNumber')?.errors?.['required']">Mobile Number is required.</span>
          </div>
        </div>
        <br>
        <div class="form-group">
          <label for="proofType"> Id proof type<span>*</span></label>
          <select formControlName="proofType" style="margin-left: 15px;width: 185px" id="proofType" required>
            <option value="" disabled selected>Select your proofType</option>
            <option value="adhar"> aadhaar</option>
            <option value="pan"> pan </option>
            <option value="passport">passport</option>
            <option value="driving license">driving license</option>
            <option value="voter id">voter id</option>
          </select>
          <div *ngIf="myForm.get('proofType')?.dirty && myForm.get('proofType')?.touched" class="error-message">
            <span *ngIf="myForm.get('proofType')?.errors?.['required']">Id prooftype is required.</span>
          </div>
        </div>
        <br>
        <div class="form-group">
          <label for="idNumber">ID number<span>*</span></label>
          <input type="text" id="idNumber" style="margin-left: 30px;" formControlName="idNumber" required>
          <div *ngIf="myForm.get('idNumber')?.dirty && myForm.get('idNumber')?.touched" class="error-message">
            <span *ngIf="myForm.get('idNumber')?.errors?.['required']">Mobile Number is required.</span>
          </div>
        </div>
        <br>
        <div class="form-group">
          <label for="addr1">Address line 1<span>*</span></label>
          <input type="text" id="addr1" style="margin-left: 8px;" formControlName="addr1" required>
          <div *ngIf="myForm.get('addr1')?.dirty && myForm.get('addr1')?.touched" class="error-message" >
            <span *ngIf="myForm.get('addr1')?.errors?.['required']">Address line is required.</span>
          </div>
        </div>
        <br>
        <div class="form-group">
          <label for="addr2">Address line 2</label>
          <input type="text" id="addr2" style="margin-left: 16px;" formControlName="addr2">
        </div>
        <br>
        <div class="form-group">
          <label for="addr3">Address line 3</label>
          <input type="text" id="addr3" style="margin-left: 16px;" formControlName="addr3">
        </div>
        <br>
        <div class="form-group">
          <label for=" landmark"> Landmark</label>
          <input type="text" id="landmark" style="margin-left: 42px;" formControlName="landmark">
        </div>
        <br>
        <div class="form-group">
          <label for="city">City<span>*</span></label>
          <input type="text" id="city" style="margin-left: 73px;" formControlName="city" required>
          <div *ngIf="myForm.get('city')?.dirty && myForm.get('city')?.touched" class="error-message">
            <span *ngIf="myForm.get('city')?.errors?.['required']">city is required.</span>
          </div>
        </div>
        <br>
        <div class="form-group">
          <label for="state">State<span>*</span></label>
          <input type="text" id="state" style="margin-left: 67px;" formControlName="state" required>
          <div *ngIf="myForm.get('state')?.dirty && myForm.get('state')?.touched" class="error-message">
            <span *ngIf="myForm.get('state')?.errors?.['required']">state is required.</span>
          </div>
        </div>
        <br>
        <div class="form-group">
          <label for="nominee"> Nominee<span>*</span></label>
          <select formControlName="nominee" style="margin-left: 41px;width: 184px;" id="nominee" required>
            <option value="" disabled selected>Select your Nominee</option>
            <option value="yes"> yes</option>
            <option value="no"> No </option>
          </select>
          <div *ngIf="myForm.get('nominee')?.dirty && myForm.get('nominee')?.touched" class="error-message">
            <span *ngIf="myForm.get('nominee')?.errors?.['required']">Nominee is required.</span>
          </div>
        </div>
        <br>
        <button type="submit" class="submit-form" [disabled]="myForm.invalid" (click)="onSubmit()">Submit</button>
      </form>
    </div>
  </div>
  <router-outlet></router-outlet>
  