table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #ddd;
  }
  th {
    border: 2px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: aliceblue;
  }
  td {
    border: 2px solid #ddd;
    padding: 8px;
    text-align: left;
  }  
  td {
    color: blue;
  }